*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: black;
}
.container{
    height: 650px;
    width: 800px;
    background: wheat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
.first-name{
    position: absolute;
    top: 5%;
    left: 15%;
    background: red;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(love.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
}
.first-name input{
    height: 35px;
    width: 180px;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: -61px;
    margin-left: -22px;
    border: none;
    outline: none;
    background: transparent;
}
.second-name{
    position: absolute;
    top: 5%;
    right: 15%;
    background: red;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(love.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
}
.second-name input{
    height: 35px;
    width: 180px;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: -61px;
    margin-left: -22px;
    border: none;
    outline: none;
    background: transparent;
}
.btn{
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%,-45%);
}
.btn button{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background: red;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}
.calculate-love{
    position: absolute;
    bottom: 5%;
    left: 32%;
    background: red;
    height: 250px;
    width: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    /* transform: translate(-50px, -0px); */
}
.calculate-love input{
    height: 35px;
    width: 180px;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: -50px;
    margin-left: -0px;
    border: none;
    outline: none;
    pointer-events: none;
    background: transparent;
}